<h1 class="display-4">Seller Portal</h1>
<p class="mb-4"></p>
<p><b>Team Name: </b>Mostly Cloudy</p>
<p><b>Team ID: </b>08</p>
<p class="mb-4"></p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Product</h5>
        <p class="card-text">This will allow you to see and modify all the Products, on database.</p>
        <a href="/parts/list" class="btn btn-outline-primary">Go to view page</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add a Product</h5>
        <p class="card-text">This will allow you to enter new product data to database.</p>
        <a href="/parts/add" class="btn btn-outline-primary">Go to Add page</a>
      </div>
    </div>
  </div>
</div>
